extends layout


block content

  != css('style-dish-page')
  != js('dish')

  include navigation
  include left-column
  include right-column

  #center-column
    #dish-container
      #dish-title
        h2 #{dish.title}
      #dish-body
        #header-dish-cont
          #dish-ing
            h4 Ингридиенты
            ol
              each duoble in dish.composition
                if duoble.col
                  li #{duoble.ing}  - #{duoble.col}
                else
                  li #{duoble.ing}
          #dish-img-title
            img(src="/img/dishes/#{dish.id_picture}/title.jpg")
        h3#title-begin-recept Рецепт
        .hr
        - for (var i = 0; i < dish.recipe.length; i++){
          - equalArr = dish.pic_equal.split(",")
          h4.step-h4 Шаг № #{i+1}
          table.dish-recept
            tr
              td #{dish.recipe[i]}
              td
                - for (var j = 0; j < equalArr.length; j++){
                    -if(Number(equalArr[j]) == Number(i+1)){
                        img(src="/img/dishes/#{dish.id_picture}/p"+j+".jpg")
                    -}
                -}
          .hr
        - }

      #block-footer
        if(!user)
          #info-noreg-cont
            h4 Только зарегестрированные пользователи могут оставить коментарии
            a#login-footer.zoom-clases Войти
            a#reg-footer.zoom-clases Зарегестрироваться
        if(user)
          input#hide-input.hide(dataUser = user, dataDish = dish)
          #comment-send
            h3 Оставьте свой коментарий
            textarea#message
            #smile-cont
              img.pic-smile(src="/img/images/smails/big_grin.png", txtSmile=":-))")
              img.pic-smile(src="/img/images/smails/happy.png", txtSmile=":-)")
              img.pic-smile(src="/img/images/smails/dumbfounded.png", txtSmile=":-|")
              img.pic-smile(src="/img/images/smails/crazy.png", txtSmile="8-P")
              img.pic-smile(src="/img/images/smails/appalled.png", txtSmile=":-]")
              img.pic-smile(src="/img/images/smails/evil.png", txtSmile=";-(")
              img.pic-smile( src="/img/images/smails/pipe.png", txtSmile=":-o")
              img.pic-smile(src="/img/images/smails/sleep.png", txtSmile=":sleep:")
            a#send-message.zoom-clases Отправить
        h3#coment-title Коментарии к блюду
        #comment-block

  script#CommentTemplate(type="text/template")
    .user-info
      span(style="color:rgb(138, 42, 1)") <%=idUser[0].nickname%>
      span(style="grey") <%=idUser[0].nickname%>
    .message-user <%=message%>

