extends layout


block content
  
  != css('style-dish-page')
  != js('dish')
  
  include navigation
  include left-column
  include right-column
  
  #center-column
    #dish-container
      #dish-title
        h2 #{dish.title}
      #dish-body
        #dish-ing
          h4 Ингридиенты
          ul
            each duoble in dish.composition
              li #{duoble.ing}  - #{duoble.col}
               
        #dish-img-cont
          - for (var i = 0; i < dish.qty_picture; i++){
              img(src="/img/dishes/#{dish.id_picture}/p"+i+".jpg")
          - }
        #dish-img-title
          img(src="/img/dishes/#{dish.id_picture}/title.jpg")
        #dish-recept
          ol
            each step in dish.recipe
              li #{step}
              
      #block-footer
        #comment-block
          Тут отображать коменты
        if(user)
          input#hide-input.hide(dataUser = user, dataDish = dish)
          #comment-send
            textarea#message
            button#send-message Отправить
          
