extends layout


block content
  include navigation
  include left-column
  include right-column
  != css('style-home')
  != js("libs/turn")
  != js('home')


  #center-column
    h2 Мировая кухня
    div Мы приветствуем Вас на сайте который собрал все популятрные рецепты мира
    #carousel-ctn.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        - for (var i = 0; i < (popDish.length)/2;  i++){
            li(data-target='#carousel-ctn', data-slide-to=i)
        - }
      .carousel-inner
        - for (var i = 0; i < popDish.length; i=i+2){

              .item
                img.carousel-img(src='/img/dishes/#{popDish[i].id_picture}/title.jpg', alt='#{popDish[i].title}')
                img.carousel-img(src='/img/dishes/#{popDish[i+1].id_picture}/title.jpg', alt='#{popDish[i].title}')
        - }
      a.left.carousel-control(href='#carousel-ctn', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel-ctn', data-slide='next')
        span.glyphicon.glyphicon-chevron-right

    h3 Последние добавленные блюда
    #dish-date-cont
    a(href="/addDish")
      h3 Вы можите дбавить свое блюдо


  script#dishBookTemplate(type="text/template")
    .peview-dish
      #title-dish <%=data.title%>
      img.title-img(src!="/img/dishes/<%=data.id_picture%>/title.jpg")
      .border-flag
        img.flag-img(src!="/img/flags/<%=key.kitchen%>.gif", title!="<%=data.kitchen%> кухня")
    .bookModel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            .background-btn
            a.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            span#index-raiting <%=data.rating%>
            a.raiting.zoom-clases(href !="/kitchenGet/raiting/<%=data._id%>/true" ) +1
            a.raiting.zoom-clases(href !="/kitchenGet/raiting/<%=data._id%>/false" ) -1
              
            a#go-dish.zoom-clases(href !="/kitchen/<%=key.kitchen%>/<%=key.species%>/<%=data._id%>/false",target="_blank")
              | Перейти на страницу блюда
            //button.btn.btn-default(type='button', data-dismiss='modal') Close
          .modal-body
            img#backgr-book(src="/img/images/book-back.jpg")
            #info
              | Вы можете листать журнал с рецептом, зажав левую кнопку мышки и потяв за краешек угла.
              br
              | Или Вы можите перейти на страниуцу блюда 
            .book
              div#title-page.ing-list
                h4#myModalLabel.modal-title <%=data.title%>
                .img-cont-border
                  img(src!="/img/dishes/<%=data.id_picture%>/title.jpg")
              <% if (data.compositionMore) { %>
              div.ing-list
                div
                  Ингридиенты
                  ol
                    <% for(var i = 0;i < 11; i++) { %>
                    <li><%=data.composition[i].ing%> - <%=data.composition[i].col%></li>
                    <% }; %>
              div.ing-list
                div
                  ol
                    <% for(var j = 11; j < data.composition.length; j++) { %>
                    <li><%=data.composition[j].ing%> - <%=data.composition[j].col%></li>
                    <% }; %>
              <%}else{%>
              div.ing-list
                div
                  Ингридиенты
                  ol
                    <% for(var j = 0; j < data.composition.length; j++) { %>
                    <li><%=data.composition[j].ing%> - <%=data.composition[j].col%></li>
                    <% }; %>
              div.ing-list
                div
                  Ингридиенты
              <% }; %>
              <% if (data.pic_equal) { %>
              <% _.each(data.recipeWithPic, function(obj) { %>
              <% if (obj.pic){ %>
              <div class="page"><div><img src="/img/dishes/<%= data.id_picture %>/p<%=obj.pic%>.jpg"></div></div>
              <% } else {%>
              <div class="page"/>
              <% }; %>
              <div class="page"><div><%= obj.recept %></div></div> 
              <% }); %>
              <% }else{ %>
              <% _.each(data.recipe, function(name) { %> <div class="page"><div><%= name %></div></div> <% }); %>
              <% }; %>


