#left-column
  .column-header Выберите кухню 
  div#zoom-clases.zoom-clases
  div#ul-cont
    ul#ul-kitchrn.hover-true
      - var i = 1
      - each item in kitchens
          li.li-kitcen.hover-true(class=item.class, number=i, id="li-item-"+item.key, idFind = "li-item-"+item.key)
              .border-flag.hover-true(number=i, idFind = "li-item-"+item.key)
                //.circle-cont
                  .circle
                  .circle
                  .circle
                img.hover-true(src="/img/flags/"+item.key+".gif", number=i, idFind = "li-item-"+item.key)
              a.hover-true(href="/kitchen/"+ item.key, class=item.class, number=i, idFind = "li-item-"+item.key)= item.name
              - i = i+1




//    li 
//      a(href="/kitchen/italy") Итальянская
//    li
//      a(href="/kitchen/georgia") Грузинская
//    li 
//      a(href="/kitchen/franch") Французкая
//    li 
//      a(href="/kitchen/china") Китайская
//    li 
//      a(href="/kitchen/armenia") Армянская
//    li 
//      a(href="/kitchen/ukrainian") Украинская
//    li 
//      a(href="/kitchen/japan") Японская
//    li 
//      a(href="/kitchen/uzbek") Узбекская
//    li 
//      a(href="/kitchen/indian") Индийская
//    li 
//      a(href="/kitchen/azerbaijan") Азербайджанская
//    li 
//      a(href="/kitchen/mexican") Мексиканская
//    li 
//      a(href="/kitchen/greek") Греческая
//    li 
//      a(href="/kitchen/thai") Тайская
//    li 
//      a(href="/kitchen/jewish") Еврейская
//    li 
//      a(href="/kitchen/turkish") Турецкая
//    li 
//      a(href="/kitchen/german") Немецкая
//    li 
//      a(href="/kitchen/balkan") Балканская
//    li 
//      a(href="/kitchen/spanish") Испанская
//    li 
//      a(href="/kitchen/korean") Корейская
//    li 
//      a(href="/kitchen/moldova") Молдавская
//    li 
//      a(href="/kitchen/tatar") Татарская
//    li 
//      a(href="/kitchen/belarusian") Белорусская
//    li 
//      a(href="/kitchen/vietnamese") Вьетнамская
//    li 
//      a(href="/kitchen/arab") Арабская
//    li 
//      a(href="/kitchen/east_european") Восточноевропейская
//    li 
//      a(href="/kitchen/scandinavian") Скандинавская
//    li 
//      a(href="/kitchen/baltic") Прибалтийская
//    li 
//      a(href="/kitchen/latin") Латиноамериканская
//    li 
//      a(href="/kitchen/malaysian") Малазийская
//    li 
//      a(href="/kitchen/british") Британская
