!= js('nav-bar')

img#apple-img(src="/img/yabloco.png")
#headerbg
	#login-cont-button
		if user
			span#login-user-txt #{user.firstName}&nbsp#{user.lastName} &nbsp
			a(href="/logout") Logout
		else
			a#login-button.regist-log-button(href="#") Войти
			a#sing-up-button.regist-log-button(href="#") Зарегистрироваться

	#search-cont
		a#search-global-btn(nohref) Найти
		input#nav-dish-input.form-control(type='text', placeholder='Найти')

	#headerblank
		#header
			div
				ul
					if (loc=='home')
						li
							a.active-menu-item(href="/") На главную
					else
						li
							a(href="/") На главную
					if (loc=='searchIng')
						li
							a.active-menu-item(href="/search/ing") Поиск по ингридиентам
					else
						li
							a(href="/search/ing") Поиск по ингридиентам

					if (loc=='randomDish')
						li
							a.active-menu-item(href="/random_dish") Случайный рецепт
					else
						li
							a(href="/random_dish") Случайный рецепт
					if (loc=='addDish')
						li
							a.active-menu-item(href="/addDish") Добавить рецепт
					else
						li
							a(href="/addDish") Добавить рецепт
			#login-reg-blok(style="position:relative")
				form#reg-send.form-reg-func(
					action="/register",
					method="POST",
					enctype="multipart/form-data",
					data-validate="parsley",
					data-trigger="change"
				)
				
						#close-reg.close-window
							b x
						#regheading
							h4 Регестрация
						.lable-reg(style="margin-top:-9px") Ваш ник:
						.input-reg-li(style="margin-top:-9px")
							label
								input#reg-nik.input-new-sty(
									type="text"
									placeholder="Nickname"
									name="nickname"
									value=user && user.nickname
									data-trigger="focusin focusout"
									data-required="true"
								)
						span.err-repeat#repeat-nik(style="color: #8c2b01;position: absolute;left: 26px;font-size: 10pt;top: 63px;display:none") Пользователь с таким ником уже зарегестрирован
						br
						br
						br
						.lable-reg Ваш еmail:
						.input-reg-li
							label
								input#reg-email.input-new-sty(
									type="text"
									placeholder="Email"
									name="email"
									value=user && user.email
									data-trigger="focusin focusout"
									data-required="true"
									data-type="email"
								)
						span.err-repeat#repeat-email(style="color: #8c2b01;position: absolute;left: 26px;font-size: 10pt;top: 103px;display:none") Пользователь с такой почтой уже зарегестрирован
						br
						br
						.lable-reg Ваш пароль:
						.input-reg-li
							label
								input#inputPassword.input-new-sty(
									type="password"
									placeholder="Password"
									name="password"
									data-trigger="focusin focusout"
									data-required="true"
								)
						br
						br
						.lable-reg Повторите пароль:
						.input-reg-li
							label
								input.input-new-sty(
									type="password"
									placeholder="Repeat password"
									data-trigger="focusin focusout"
									data-required="true"
									data-equalto="#inputPassword"
								)
						br
						br
						.lable-reg Ваше имя:
						.input-reg-li
							label
								input#reg-fname.input-new-sty(
									type="text"
									placeholder="First Name"
									name="firstName"
									value=user && user.firstName
									data-trigger="focusin focusout"
									data-required="true"
								)
						br
						br
						.lable-reg Ваша фамилия:
						.input-reg-li
							label
								input#reg-lname.input-new-sty(
									type="text"
									placeholder="Last Name"
									name="lastName"
									value=user && user.lastName
									data-trigger="focusin focusout"
									data-required="true"
								)
						#regbutton
							a(nohref) Регестрация


					
				form#login-send.form-reg-func(action="/login",method="POST",enctype="multipart/form-data", data-validate="parsley", data-trigger="change", style="display:none")
					#logintxtblank
						#close-login.close-window 
							b x
						#loginheading
							h4 Войти на сайт
								span#fail-reg(style="color:#943415;display:none") &nbsp К сожалению, пользователь не был найден
						#username Имя 
						#input-email
							label
								input#textfield.input-new-sty(type="text", placeholder="Email", name="email", data-trigger="focusin focusout", data-required="true", data-type="email")
						#password Пароль:
						#input02
							label
								input#textfield2.input-new-sty(type="password", placeholder="Пароль", name="password", data-trigger="focusin focusout", data-required="true")
						#loginbutton
							a.login(nohref) Войти
						#member Забыли пароль? 
						#register
							a.register(nohref) Зарегистрироваться сейчас!

							
							




